.form-container
  %h2 Profile Edit
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @profile, url: profile_path, method: "put", local: true) do |f|
    .field_spacious
      = f.label :avatar, "Avatar"
      = f.file_field :avatar
    .field_spacious
      = f.label :nickname, "Name"
      = f.text_field :nickname, class: "text"
    .field_spacious
      = f.label :introduction, "Introduction"
      = f.text_area :introduction
    .field_spacious
      = f.label :gender, "Gender"
      = f.select :gender, Profile.genders.map { |k, v| [ I18n.t("enum.genders.#{k}"), k ]}, {}, { class: 'text' }
    .field_spacious
      = f.label :birthday, "Birthday"
      = f.date_field :birthday, class: 'text'
    .field_spacious
      = f.label :subscribed, "Get notifications"
      = f.check_box :subscribed

    = f.submit 'Save', class: 'btn-primary'
