- if task.errors.any?
  %ul.error-messages
    - task.errors.full_messages.each do |message|
      %li= message

= form_with(model: task, url: board_tasks_path(task.board), local: true) do |f|
  .field_spacious
    = f.label :title, "Name"
    = f.text_field :title, class: "text"
  .field_spacious
    = f.label :content, "Description"
    = f.text_area :content
  .field_spacious
    = f.label :deadline, "Dead Line"
    = f.datetime_field :deadline, class: "text"
  = f.submit "Submit", class: "btn-primary"
