= link_to board_task_path(task.board, task) do
  .card
    - if task.eyecatch.attached?
      .card_image
        = image_tag task.eyecatch
    .card_content
      .card_title_row
        .card_title
          = task.title
      .card_description
        = task.content
      .card_bottom
        .card_avatar
          = image_tag task.user.avatar_image
        .card_deadline
          = "期限：#{l(task.deadline, format: :long)}"
        .card_comment_count
          = "#{task.comments_count}"
          = image_tag 'comment_icon.svg'
